executor: slurm
jobs: 400                     # Max concurrent jobs to submit
retries: 2                    # Retry failed jobs twice (good for network blips)
latency-wait: 60              # Wait 60s for files to appear (Fixes "MissingOutputException")
use-conda: true               # You are using conda environments
# Default resources for rules that don't specify them
default-resources:
  slurm_partition: "intel-sc3"     # CHANGE THIS: Use 'sinfo' to find your default partition
  slurm_qos: "normal"
  qos: "normal"
  runtime: 180                 # Default time in minutes (1 hour)
  mem_mb: 16000                # Default memory (4GB)
  slurm_account: "zhangkai" # Optional: if your cluster requires account tracking

set-threads:
    bwaindex: 8
    map_chunks_bwa: 8
    parse_sort_chunks: 4
    merge_runs: 4
    merge_dedup: 4
    bin_pairs_library: 4
    zoom_library: 8
    merge_zoom_library_group_coolers: 8
    scaling_pairs_library: 4
    bowtie2_local_align: 20
    bowtie2_global_align: 20